# Editor Files #
################
*~
*.swp

# Build output directies
/target
**/test-output
**/target
**/bin
build
*/build
.m2

# IntelliJ specific files/directories
out
.idea
*.ipr
*.iws
*.iml
atlassian-ide-plugin.xml

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata
.factorypath
.generated

# NetBeans specific files/directories
.nbattrs
